
h1{
	text-align:center;
}
#gameCanvas{
	margin:0 auto;
	background-color:#123456;
	width:500px;
	height:500px;
	
	/* Disable the orange highlight on colours */
	outline-color: transparent;
}

#choices{	
    height: 100%;
    width:100%;	
	background:#606060;
	
	vertical-align: middle;
    display: inline-block;
    text-align:center;
	
	margin-top:50px;
	padding:50px;
	padding-left:0px;
	padding-right:0px;
}
img{
    vertical-align: middle;
}