
h1{
	text-align:center;
}
img{
    vertical-align: middle;
}

/* The div that the game is rendered in */
#gameCanvas{
	/* Border */
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-color: #1e1e20;
	border-width: 5px;
	
	margin:0 auto;
	background-color:#123456;
	width:1000px;
	height:600px;
	
	/* Disable the orange highlight on colours */
	outline-color: transparent;
	
	text-align: center;
	vertical-align:center;
}

/************************
*  Main tab content
*************************/

#main{
	/* Dimensions */
	width: 90%;
	min-width:1300px;
	max-width:1300px;
	height:630px;
	/* Inner Positioning */
	overflow: hidden;
	display:block;
	margin: 0 auto;
	padding:1px;
	padding-top:0px;
	/* Border */
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-color: #1e1e20;
	border-width: 3px;
	/* Background Color */
	background:#878787;
}

#head {
	padding: 10px;
	/*background: #fdd;*/
}
#sub_head{
	padding-top:40px;
	padding-bottom:3px;
	float:left;
	margin-left:50px;
}
#sub_head p.subtitle{
	padding-top:3px;
	padding-bottom:3px;
	margin-left:30px;
}

#column-1 {
	float: left;
	/*width: 300px;*/
	padding: 10px;
	/*background: #bfb;*/
}

#column-2 {
	width:1000px;
	height:600px;
	float: left;
	padding: 10px;
	/*background: #ddf;*/
}

#column-3 {
	overflow: auto; 
	height: 600px;
	
	float: right;
	width: 220px;
	padding: 10px;
	/*background: #dff;*/
}

#footer {
	clear: both;
	padding: 10px;
	/*background: #ff9;*/
}
/***************************************/


#coins{
	float:right;
}
#total_coins{
	font-family: 'Iceland', serif;
	font-size: 35px;
	letter-spacing: 3px;
	color: #000;
}


/********************************
* Progress bar and loading css
*********************************/
#progress {
	color:red;
	top:7em;
	width: 1000px;
	font-size:3em;
	font-variant:small-caps;
	font-weight:bold;
	/*position:absolute;*/
	position: absolute;
	text-align: center;
	text-shadow: #000 0px 0px 10px;
	display: block;
	
	background-color:#fff;
}
#start {
	color:#fff;
	text-shadow: #000 0px 0px 2px;
	padding:0.1em 0.3em;
	width:3em;
	text-align: center;
	display:none;
}
#progressbar {
	position: relative;
	left:7.5em;
	text-align: center;
	background: white;
	width: 250px;
	height: 10px;
}
#bar {
	background:#d00;
	width:50px;
	height:10px;
}
.shadow {
	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
}
.enabled {
	color: lime!important;
	cursor:pointer;
}
.enabled:hover {
	text-shadow: #0f0 0px 0px 5px !important;
}
.disabled {
	background:gray;
	cursor:default;
}
/***************************************/